
h2{
    font-size: 90px;
}
h1{
    font-size: 65px;
}


body {
    display: flex;
    margin-left: 40%;
    align-items: center;
  }
  
  button.adt{padding: 8px 16px;
    background-color: rgb(165, 38, 38);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-left: 8px;

  }
  button.adt:hover{
    background-color: rgb(205, 205, 49);
  }

  button.delete {
    padding: 8px 16px;
    background-color: rgb(165, 38, 38);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-left: 8px;
  }
  
  button.delete:hover {
    background-color: rgb(179, 72, 30);
  }
  
  button.complete {
    padding: 8px 16px;
    background-color: rgb(39, 140, 39);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-left: 8px;
  }
  
  button.complete:hover {
    background-color: rgb(205, 205, 49);
  }
  
  button:focus {
    outline: none;
  }
  
  .addTask {
    margin-bottom: 16px;
  }
  
